#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    color: #FDE8E9;
    text-decoration: none;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section{
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: white;
}
header {
    background-color: #3ED3B5;
}
nav a:hover{
    background-color: #3ED3B5;
    color: #FDE8E9;
}
.book, .join{
    background-color: #3ED3B5;
    color: #596DB1;
    text-decoration: none;
}
.book:hover, .join:hover{
    background-color: #3ED3B5;
    color: #FDE8E9;
}
#background{
    background-color: #3ED3B5;
}
.msg{
    background-color: #3ED3B5;
}
.msg h2{
    color: #596DB1;
}
.msg p{
    color: #596DB1;
}
footer{
    background-color: #3ED3B5;
    color: #596DB1;
}
footer a{
    color: #596DB1;
    text-decoration: none;
}
footer p{
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}
footer a:hover{
    color: #FDE8E9;
}
.home-title{
    color: #596DB1;
}
h4{
    color: #596DB1;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
}